@import "./properties";

.suggestions {
   margin-top: 20px;
   width: 100%;
   .titleContainer {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 500;
      color: $font-color-secondary;
      .sidebar_title{
         min-width: 200px;
      }
      .sidebar_all{
         color: black;
      }
   }
}
